
.Container {
  display: flex;
  height: 100vh; // 或自訂高度
}

.ShowcaseSection {
  flex: 1;
  background-color: #899db1; // demo 用
  padding: 16px;
  
}

.ChatSection {
  flex: 2;
  background-color: #c2e1ff; // demo 用
  //border-left: 1px solid #ddd;
}



@media (max-width: 768px) {
    .ShowcaseSection {display: none;}
}